/* CSS stylesheet */
#top-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
    font-size: 12px;
}
#bottom-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 12px;
}
li{
    float: left;
}
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    color: black;
    text-decoration: underline;
}

.main-container {
    max-width: 300px;
    margin: 150px auto;
}

.searchbar {
    display: block;
    margin-left: -40px;
    height: 30px;
    width: 350px;
    border-radius: 45px;
}
form input:hover {
 box-shadow: 0 0 2px 3.5px rgba(0, 0, 255, .2);
}

button:hover {
  box-shadow: 0 0 0px 1px silver;
}

.footer {
  display: block;
  background-color: rgb(211,220,211);
  border-top: 2px silver solid;
}
